body {
    font-size: 18px;
    margin: 0 0 0 0;
}

.fa-test {
    font-size: 10px;
}

#non-mobile {
    text-align: left;    
}

#non-mobile .fas {
    padding-right: 0.5em;    
}

#non-mobile a {
    color: #ffffff;
    text-decoration: none;
}

#non-mobile #row {
    border-bottom: solid 2px #ffffff;
    padding-top: 2%;
    padding-left: 20%; 
}

#nav-elements {
    padding: 1% 0 3% 0; 
}

