<nav id="non-mobile">
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-shopping-bag"></i> Shop</div></a></div>
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-shopping-bag"></i> Account</div></a></div>
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-shopping-bag"></i> Introduction</div></a></div>
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-shopping-bag"></i> Allotment Starter Guides</div></a></div>
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-shopping-bag"></i> Vegetable Growing Guides</div></a></div>
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-shopping-bag"></i> Fruit Growing Guides</div></a></div>
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-shopping-bag"></i> Herb Growing Guides</div></a></div>
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-shopping-bag"></i> Allotment Recipes</div></a></div>
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-shopping-bag"></i> Planning Tools</div></a></div>
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-shopping-bag"></i> Videos</div></a></div>
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-shopping-bag"></i> Photo Gallery</div></a></div>
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-shopping-bag"></i> Blog</div></a></div>
    <div id="row"><div id="nav-elements"><a href="/"><i class="fas fa-shopping-bag"></i> Policies</div></a></div>
</nav>