---
layout: /layouts/base.njk
---

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

<style>

/* some words*/
{% include 'css/general.css' %}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
{% include 'css/mobile-header.css' %}
}

/* Desktop styles */
@media only screen and (min-width: 768px) {
{% include 'css/desktop-header.css' %}
}

</style>

</head>

{{ content | safe }}