<div id="sidebar" style="text-align: center">
{% block content %} {% endblock %}
</div>
    
<div id="main-column">
        
<main id="main-content">
                    
<div id="content-heading">
{% block fullwidthheader %} {% endblock %}
</div>

<div id="content-body">
{% block body %} {% endblock %} 
</div>
                
</main>
        
</div>    

