---
title: Allotment And Kitchen Garden Website | Discover the Allotment Book
description: An allotment website dedicated to helping the home or allotment gardener enjoy growing fruit and vegetables. Practical guides with lots of photos!
layout: /layouts/head.njk
---

<body>
<header>
    a navigation bar
    <h1> a page title </h1>     
</header>

The layout above should specify the page template used for this specific page

The main html

<footer>The footer</footer>

<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

</body>